.main-aside {
    background: $primary-dark;
    //background-image: url('img/guindostan-bg.jpg');
    padding: 2rem 0 2rem 0;
    position: relative;
    @include respond-to(tablet) {
        flex-basis: 35%;
        flex-grow: 0;
        flex-shrink: 1;
        height: 100%;
        padding: 8rem 3rem 0px 0px;
        position: fixed;
        width: 35%;
    }
    @include respond-to(desktop) {
        flex-basis: 35%;
        flex-grow: 0;
        flex-shrink: 1;
        height: 100%;
        padding: 8rem 3rem 0px 0px;
        position: fixed;
        width: 35%;
        &:before {
            width: 100%;
            height: 100%;
            background-image: url('img/guindostan-bg.jpg');
            background-attachment: scroll;
            background-position: center center;
            background-size: cover;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            opacity: .4;
            z-index: 1;
        }
    }
}

main {
    padding: 5vh 5vw;
    @include respond-to(tablet) {
        margin-left: 35vw;
        max-width: calc(100vw - 40vw);
        padding: 8em 4rem 4rem;
        width: calc(100vw - 35vw);
    }
    @include respond-to(desktop) {
        margin-left: 35vw;
        max-width: calc(100vw - 40vw);
        padding: 8em 4rem 4rem;
        width: calc(100vw - 35vw);
    }
}
