.site-main {
    h1 {
        @include font-family('RobotoSlab', 'Light');
        color: $gray-light;
        margin: 0 0 2rem;
    }
    .activities-wrapper {
        display: flex;
        flex-direction: column;
        @include respond-to(tablet) {
            flex-direction: row;
            flex-wrap: wrap;
        }
        @include respond-to(desktop) {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
    .activities {
        margin-bottom: 2rem;
        h2 {
            margin-top: 0;
            margin-bottom: .25rem;
            line-height: $line-height-small;
            & > a {
                @include font-family('RobotoSlab', 'Thin');
                font-size: $font-size-large;
            }
        }
        @include respond-to(tablet) {
            &:nth-child(odd) {
                margin-right: 2rem;
            }
        }
        @include respond-to(desktop) {
            flex-basis: calc(50% - 2rem);
            &:nth-child(odd) {
                margin-right: 2rem;
            }
        }
    }
    .activity-today-container .activities {
        border-bottom: 3px solid $whitish;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        margin-right: 0;
        @include respond-to(desktop) {
            display: flex;
        }
        @include respond-to(tablet) {
            display: flex;
        }
        .activity-today-data {
            margin-bottom: 1rem;
            @include respond-to(desktop) {
                flex: 1;
                margin-right: 3rem;
                margin-bottom: 0;
            }
            @include respond-to(tablet) {
                flex: 1;
                margin-right: 3rem;
                margin-bottom: 0;
            }
            ul {
                margin-bottom: 1rem;
            }
            .price {
                float: none;
            }
        }
        .activity-today-image {
            @include respond-to(desktop) {
                flex: 2;
            }
            @include respond-to(tablet) {
                flex: 2;
            }
        }
    }
}
