/**
 * modules/fonts
 * ---
 * Declare fonts here
 */

@each $font in RobotoSlab-Light,
               RobotoSlab-Bold,
               RobotoSlab-Regular,
               RobotoSlab-Thin,
               Lato-Light,
               Lato-Bold,
               Lato-Regular, {
    @font-face {
      font-family: $font;
      src: url("fonts/#{$font}.ttf") format("truetype");
      font-weight: normal;
      font-style: normal;
    }
}

@mixin font-family($font-name: 'RobotoSlab', $font-type: 'Regular') {
    font-family: #{$font-name}-#{$font-type};
}
