/**
 * modules/variables
 * ---
 */


/**
 * Typography
 */

$font-family-base: 'RobotoSlab-Regular', Arial, sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.5;

$font-size-large: $font-size-base * 1.25;
$font-size-xlarge: $font-size-base * 1.5;
$font-size-xxlarge: $font-size-base * 2.5;

$line-height-small: 1.25;
$line-height-xsmall: 1;

/**
 * Colors
 */

$text-color: #111;
$body-bg: #fff;
$selection-bg: #CC0000;


$black: #111;
$white: #FFF;
$grayer: #1F1815;
$gray: #666;
$gray-light: #999;
$whitish: #ccc;
$primary: #800909;
$primary-light: lighten($primary, 10%);
$primary-dark: #4D1A1A;

$talks: #336699;
$culture: #421C52;
$events: #800909;
$environment: #CCCC00;

/**/
/* Groups
/**/

$consume-group: #849f16;
$literature-group: #43168a;
$theatre-group: #a81818;
$bikes-group: #f1aa30;
$dacapo-group: #008fcc;

/**
 * Grid
 */

$wrapper-width: 100%;


$padding-horizontal-base: 5px;
$padding-vertical-base: 5px;
$margin-horizontal-base: 5px;
$margin-vertical-base: 5px;
$margin-horizontal-large: 15px;
$margin-vertical-large: 15px;
