/**
 * styles.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */
/**
 * modules/variables
 * ---
 */
/**
 * Typography
 */
/**
 * Colors
 */
/**/
/* Groups
/**/
/**
 * Grid
 */
/**
 * modules/mixins
 * ---
 */
/**
 * modules/fonts
 * ---
 * Declare fonts here
 */
@font-face {
  font-family: RobotoSlab-Light;
  src: url("fonts/RobotoSlab-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: RobotoSlab-Bold;
  src: url("fonts/RobotoSlab-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: RobotoSlab-Regular;
  src: url("fonts/RobotoSlab-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: RobotoSlab-Thin;
  src: url("fonts/RobotoSlab-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Lato-Light;
  src: url("fonts/Lato-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Lato-Bold;
  src: url("fonts/Lato-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Lato-Regular;
  src: url("fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/**
 * partials/reset
 * ---
 * Reset file
 * NOTE: also `normalize.css` is used
 */
*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 1rem;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "RobotoSlab-Regular", Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #111;
  background-color: #fff;
  margin: 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  color: #111;
  text-decoration: none;
}
a:focus, a:hover {
  text-decoration: underline;
}

input[type="text"],
input[type="search"] {
  font-size: inherit;
  line-height: inherit;
}

::selection {
  background-color: #CC0000;
  color: #fff;
  text-shadow: none;
}

/**
 * partials/wordpress
 * ---
 * Wordpess core classes
 */
/**
 * Alignment
 */
.alignnone {
  margin: 5px 15px 15px 0;
}

.aligncenter {
  display: block;
  margin: 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 15px 15px;
}

.alignleft {
  float: left;
  margin: 5px 15px 15px 0;
}

/**
 * Gallery & images
 */
.wp-caption {
  background: #fff;
  border: thin solid #F0F0F0;
  max-width: 95%;
  padding: 5px 5px;
  text-align: center;
}
.wp-caption img {
  width: auto;
  max-width: 98.5%;
  height: auto;
  border: 0 none;
  padding: 0;
  margin: 0;
}

.wp-caption .wp-caption-text,
.gallery-caption {
  margin: 0;
  padding: 0 5px 5px;
  font-size: 1rem;
  line-height: 1.5;
}

/**
 * partials/utils
 * ---
 * Utils classes
 */
.clear:before, .clear:after {
  content: " ";
  display: table;
}
.clear:after {
  clear: both;
}

.reset-box {
  padding: 0;
  margin: 0;
}

/**
 * partials/wrapper
 * ---
 */
.wrapper {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 1024px) {
  .wrapper {
    flex-direction: row;
  }
}

/**
 * partials/header
 * ---
 */
.main-aside {
  background: #4D1A1A;
  padding: 2rem 0 2rem 0;
  position: relative;
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .main-aside {
    flex-basis: 35%;
    flex-grow: 0;
    flex-shrink: 1;
    height: 100%;
    padding: 8rem 3rem 0px 0px;
    position: fixed;
    width: 35%;
  }
}
@media only screen and (min-width: 1024px) {
  .main-aside {
    flex-basis: 35%;
    flex-grow: 0;
    flex-shrink: 1;
    height: 100%;
    padding: 8rem 3rem 0px 0px;
    position: fixed;
    width: 35%;
  }
  .main-aside:before {
    width: 100%;
    height: 100%;
    background-image: url("img/guindostan-bg.jpg");
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    opacity: .4;
    z-index: 1;
  }
}

main {
  padding: 5vh 5vw;
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  main {
    margin-left: 35vw;
    max-width: calc(100vw - 40vw);
    padding: 8em 4rem 4rem;
    width: calc(100vw - 35vw);
  }
}
@media only screen and (min-width: 1024px) {
  main {
    margin-left: 35vw;
    max-width: calc(100vw - 40vw);
    padding: 8em 4rem 4rem;
    width: calc(100vw - 35vw);
  }
}

.main-aside {
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .main-aside {
    text-align: right;
  }
}
@media only screen and (min-width: 1024px) {
  .main-aside {
    text-align: right;
  }
}
.main-aside .logo a {
  margin: 0px 0px 1rem;
  width: 60%;
  display: inline-block;
}
.main-aside .logo img {
  width: 100%;
}
.main-aside h1 {
  font-weight: 200;
  font-size: .9rem;
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .main-aside h1 {
    font-size: 1.1rem;
  }
}
.main-aside header,
.main-aside footer {
  z-index: 9;
  position: relative;
}
.main-aside footer {
  display: none;
}
.main-aside footer ul {
  list-style: outside none none;
}
.main-aside footer li {
  display: inline-block;
  padding: 0px 1rem 0px 0px;
}
.main-aside footer a {
  color: rgba(255, 255, 255, 0.5);
}
@media only screen and (min-width: 1024px) {
  .main-aside footer {
    display: block;
    align-self: flex-end;
    padding: 0px 1rem 6rem 0px;
    text-align: right;
    font-size: .6rem;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .main-aside footer {
    display: block;
    align-self: flex-end;
    padding: 0px 1rem 6rem 0px;
    text-align: right;
    font-size: .6rem;
  }
}

/**
 * partials/nav
 * ---
 * Menus
 */
.menu {
  font-family: RobotoSlab-Light;
}
.menu ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.menu a {
  padding: .5rem;
  text-transform: uppercase;
  color: #666;
}
.menu a:hover {
  color: #1F1815;
  transition: color .2s;
  text-decoration: none;
}

.site-main h1 {
  font-family: RobotoSlab-Light;
  color: #999;
  margin: 0 0 2rem;
}
.site-main .activities-wrapper {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .site-main .activities-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 1024px) {
  .site-main .activities-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.site-main .activities {
  margin-bottom: 2rem;
}
.site-main .activities h2 {
  margin-top: 0;
  margin-bottom: .25rem;
  line-height: 1.25;
}
.site-main .activities h2 > a {
  font-family: RobotoSlab-Thin;
  font-size: 1.25rem;
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .site-main .activities:nth-child(odd) {
    margin-right: 2rem;
  }
}
@media only screen and (min-width: 1024px) {
  .site-main .activities {
    flex-basis: calc(50% - 2rem);
  }
  .site-main .activities:nth-child(odd) {
    margin-right: 2rem;
  }
}
.site-main .activity-today-container .activities {
  border-bottom: 3px solid #ccc;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  margin-right: 0;
}
@media only screen and (min-width: 1024px) {
  .site-main .activity-today-container .activities {
    display: flex;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .site-main .activity-today-container .activities {
    display: flex;
  }
}
.site-main .activity-today-container .activities .activity-today-data {
  margin-bottom: 1rem;
}
@media only screen and (min-width: 1024px) {
  .site-main .activity-today-container .activities .activity-today-data {
    flex: 1;
    margin-right: 3rem;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .site-main .activity-today-container .activities .activity-today-data {
    flex: 1;
    margin-right: 3rem;
    margin-bottom: 0;
  }
}
.site-main .activity-today-container .activities .activity-today-data ul {
  margin-bottom: 1rem;
}
.site-main .activity-today-container .activities .activity-today-data .price {
  float: none;
}
@media only screen and (min-width: 1024px) {
  .site-main .activity-today-container .activities .activity-today-image {
    flex: 2;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .site-main .activity-today-container .activities .activity-today-image {
    flex: 2;
  }
}

article.activities {
  position: relative;
}
article.activities.category-charlas-conferencias .entry-title > a {
  color: #336699;
}
article.activities.category-charlas-conferencias .activity-data {
  border-left: 4px solid #336699;
}
article.activities.category-cultura .entry-title > a {
  color: #421C52;
}
article.activities.category-cultura .activity-data {
  border-left: 4px solid #421C52;
}
article.activities.category-evento-guindostan .entry-title > a {
  color: #800909;
}
article.activities.category-evento-guindostan .activity-data {
  border-left: 4px solid #800909;
}
article.activities.category-medio-ambiente .entry-title > a {
  color: #CCCC00;
}
article.activities.category-medio-ambiente .activity-data {
  border-left: 4px solid #CCCC00;
}
article.activities .entry-header {
  padding-right: 3rem;
}
article.activities .entry-title-single {
  font-family: RobotoSlab-Light;
  font-size: 2.5rem;
}
article.activities .the-post-thumbnail {
  display: block;
  margin-bottom: 1rem;
  overflow: hidden;
}
article.activities .the-post-thumbnail img {
  width: 100%;
  transition: all .3s ease-in;
}
article.activities .activity-data {
  list-style-type: none;
  list-style-position: inside;
  padding-left: 1rem;
}
article.activities .price {
  color: #b00c0c;
  float: right;
}
article.activities .hour {
  margin-bottom: 1rem;
  color: #999;
}

.page-header .page-title {
  font-family: RobotoSlab-Light;
  font-size: 2.5rem;
}

.groups-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.group-wrapper {
  flex-basis: 30%;
  margin-bottom: 1rem;
  margin-right: 1rem;
}
.group-wrapper.tertulias-del-desayuno {
  color: #43168a;
}
.group-wrapper.tertulias-del-desayuno hr {
  background: #43168a;
}
.group-wrapper.taller-de-bicicletas {
  color: #f1aa30;
}
.group-wrapper.taller-de-bicicletas hr {
  background: #f1aa30;
}
.group-wrapper.teatro {
  color: #a81818;
}
.group-wrapper.teatro hr {
  background: #a81818;
}
.group-wrapper.da-capo {
  color: #008fcc;
}
.group-wrapper.da-capo hr {
  background: #008fcc;
}
.group-wrapper.grupo-de-consumo {
  color: #849f16;
}
.group-wrapper.grupo-de-consumo hr {
  background: #849f16;
}
.group-wrapper:hover {
  transition: all .2s linear;
  color: #1F1815;
}
.group-wrapper:hover hr {
  margin: 0 2rem;
}
.group-wrapper hr {
  height: 4px;
  margin: 0 4rem;
  border: none;
  transition: all .2s ease-in;
}
.group-wrapper a {
  color: currentColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.group-wrapper a:hover {
  text-decoration: none;
}
.group-wrapper h2 {
  margin: 1rem 0 0;
  font-size: 1.1rem;
  font-weight: normal;
  text-align: center;
}
.group-wrapper img {
  height: 5rem;
  width: 5rem;
}

/**
 * partials/sidebar
 * ---
 */
/**
 * partials/footer
 * ---
 */
/**
 * partials/print
 * ---
 * Print version
 * (from https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css)
 */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/*# sourceMappingURL=style.css.map */
