/**
 * styles.scss
 * ---
 * Main `sass` file. Import here `sass` files
 */
/**
 * modules/variables
 * ---
 */
/**
 * Typography
 */
/**
 * Colors
 */
/**
 * Grid
 */
/**
 * modules/mixins
 * ---
 */
/**
 * modules/fonts
 * ---
 * Declare fonts here
 */
@font-face {
  font-family: RobotoSlab-Light;
  src: url("fonts/RobotoSlab-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: RobotoSlab-Bold;
  src: url("fonts/RobotoSlab-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: RobotoSlab-Regular;
  src: url("fonts/RobotoSlab-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: RobotoSlab-Thin;
  src: url("fonts/RobotoSlab-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Lato-Light;
  src: url("fonts/Lato-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Lato-Bold;
  src: url("fonts/Lato-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Lato-Regular;
  src: url("fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/**
 * partials/reset
 * ---
 * Reset file
 * NOTE: also `normalize.css` is used
 */
*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 1rem;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "RobotoSlab-Regular", Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #111;
  background-color: #fff;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  color: #111;
  text-decoration: none;
}
a:focus, a:hover {
  text-decoration: underline;
}

input[type="text"],
input[type="search"] {
  font-size: inherit;
  line-height: inherit;
}

::selection {
  background-color: #CC0000;
  color: #fff;
  text-shadow: none;
}

/**
 * partials/wordpress
 * ---
 * Wordpess core classes
 */
/**
 * Alignment
 */
.alignnone {
  margin: 5px 15px 15px 0;
}

.aligncenter {
  display: block;
  margin: 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 15px 15px;
}

.alignleft {
  float: left;
  margin: 5px 15px 15px 0;
}

/**
 * Gallery & images
 */
.wp-caption {
  background: #fff;
  border: thin solid #F0F0F0;
  max-width: 95%;
  padding: 5px 5px;
  text-align: center;
}
.wp-caption img {
  width: auto;
  max-width: 98.5%;
  height: auto;
  border: 0 none;
  padding: 0;
  margin: 0;
}

.wp-caption .wp-caption-text,
.gallery-caption {
  margin: 0;
  padding: 0 5px 5px;
  font-size: 1rem;
  line-height: 1.5;
}

/**
 * partials/utils
 * ---
 * Utils classes
 */
.clear:before, .clear:after {
  content: " ";
  display: table;
}
.clear:after {
  clear: both;
}

.reset-box {
  padding: 0;
  margin: 0;
}

/**
 * partials/wrapper
 * ---
 */
.wrapper {
  max-width: 100%;
  display: flex;
  flex-direction: row;
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .wrapper {
    flex-direction: column;
  }
}
@media only screen and (max-width: 600px) {
  .wrapper {
    flex-direction: column;
  }
}

/**
 * partials/header
 * ---
 */
.main-aside {
  background: #1F1815;
  background-image: url("img/guindostan-bg.jpg");
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  padding: 2rem 0 2rem 0;
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .main-aside {
    padding: 8rem 3rem 0px 0px;
    width: 35%;
    flex-basis: 35%;
    flex-grow: 0;
    flex-shrink: 1;
    position: fixed;
    height: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  .main-aside {
    padding: 8rem 3rem 0px 0px;
    width: 35%;
    flex-basis: 35%;
    flex-grow: 0;
    flex-shrink: 1;
    position: fixed;
    height: 100%;
  }
}

main {
  padding: 2rem;
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  main {
    margin-left: 35vw;
    max-width: calc(100vw - 40vw);
    padding: 8em 4rem 4rem;
    width: calc(100vw - 35vw);
  }
}
@media only screen and (min-width: 1024px) {
  main {
    margin-left: 35vw;
    max-width: calc(100vw - 40vw);
    padding: 8em 4rem 4rem;
    width: calc(100vw - 35vw);
  }
}

.main-aside {
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .main-aside {
    text-align: right;
  }
}
@media only screen and (min-width: 1024px) {
  .main-aside {
    text-align: right;
  }
}
.main-aside .logo a {
  margin: 0px 0px 1rem;
  width: 60%;
  display: inline-block;
}
.main-aside .logo img {
  width: 100%;
}
.main-aside h1 {
  font-weight: 200;
  font-size: 1.1rem;
}
@media only screen and (max-width: 600px) {
  .main-aside h1 {
    font-size: .9rem;
  }
}
.main-aside footer {
  display: none;
}
.main-aside footer ul {
  list-style: outside none none;
}
.main-aside footer li {
  display: inline-block;
  padding: 0px 1rem 0px 0px;
}
.main-aside footer a {
  color: rgba(255, 255, 255, 0.5);
}
@media only screen and (min-width: 1024px) {
  .main-aside footer {
    display: block;
    align-self: flex-end;
    padding: 0px 1rem 6rem 0px;
    text-align: right;
    font-size: .6rem;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .main-aside footer {
    display: block;
    align-self: flex-end;
    padding: 0px 1rem 6rem 0px;
    text-align: right;
    font-size: .6rem;
  }
}

/**
 * partials/nav
 * ---
 * Menus
 */
.menu {
  font-family: RobotoSlab-Light;
}
.menu ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.menu a {
  padding: .5rem;
  text-transform: uppercase;
  color: #999;
}
.menu a:hover {
  color: #1F1815;
  transition: color .2s;
  text-decoration: none;
}

/**
 * partials/sidebar
 * ---
 */
/**
 * partials/footer
 * ---
 */
/**
 * partials/print
 * ---
 * Print version
 * (from https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css)
 */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/*# sourceMappingURL=style.css.map */
